/* Home.css */
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F8FAE5;
    overflow-x: hidden;
  }

.home-container {
    display: flex;
    text-align: center;
    padding: 20px;
    flex: 1;
    flex-direction: column;
    align-items: center;
    
  }
  
  .hero-content {
    background-color: #43766c99;
    color: #F8FAE5;
    width: 100%;
    padding: 40px;
  }
  
  .hero-content h1 {
    font-size: 2.5rem;
  }
  
  .hero-content p {
    font-size: 1.2rem;
    margin-top: 20px;
  }
  
  .startedBTN {
    background-color: #76453B;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    transition: .2s all;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .startedBTN:hover{
    background-color: #4d2d27;
  }

  .startedBTN a{
    color: #F8FAE5;
    text-decoration: none;
  }
  
  .different {
    margin-top: 40px;
    color: #76453B;
  }
  
  
  .different ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .different li {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .contact-us {
    margin-top: 40px;
    background-color: #43766c99;
    width: 110%;
    height: 20vh;
    display: flex;
    flex-direction: column; 
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    gap: 30px;
    
  }
  
  .contact-us h2 {
    margin-top: 20px;
    color: #F8FAE5;
    font-size: 2rem;
  }
  
  .contact-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px; 
  }


  .contact-links a{
    text-decoration: none;
    color: #76453B;
    font-size: 30px;
    transition: all .2s;
    animation: slideRight 5s ease-in-out infinite;
    
  }

  .contact-links a:hover{
    font-size: 32px;
    color: #4d2d27;
  }
  
  .contact-us a {
    text-decoration: none;
    margin-right: 20px;
  }

  .different {
    margin-top: 40px;
  }
  
  .different h2 {
    font-size: 2rem;
  }
  
  .different-features {
    display: flex;
    margin-top: 20px;
  }
  
  .feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px; 
  }
  
  .feature img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    object-fit: cover;
    border-radius: 50%;
    transition: 1s all;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  
  .feature p {
    color: #76453B;
    font-size: 18px;
    margin-top: 20px; 
    padding-left: 10px; 
    padding-right: 10px; 
    font-weight: 900;
  }

  .botBTN {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
    z-index: 9989;
    padding: 18px 20px;
    border: none;
    border-radius: 50%  ;
    color: #76453B;
    cursor: pointer;
    transition: .2s all;
    background-color: #508c80;
    
  }

  .botBTN:hover{
    background-color: #39635a;
  }
  
  .Bot {
    position: fixed;
    bottom: 90px;
    right: 20px;
    z-index: 9988;
  }


  @keyframes slideRight {
    0%,100% {
      transform: translateX(-30%);
    }
    50% {
      transform: translateX(30%);
    }
    
  }

  
  

  