.containerCardsFavo {
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
  font-family: "Josefin Sans", sans-serif;
  justify-content: space-around;
}
.txtHeaderFavo {
  font-family: "Josefin Sans", sans-serif;

  margin: 1rem;
  font-weight: bold;
  font-size: 1.7rem;
}
.containerCardsFavo .fullCard .containNameAndHeart {
  font-family: "Josefin Sans", sans-serif;
}
.containerCardsFavo .fullCard p {
  font-family: "Josefin Sans", sans-serif;
}
